
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
        background-color: #0065caec;
        color: white;
        padding: 20px;
        text-align: center;
        border-bottom: 4px orange solid;
}

header img {
        height: 35px;
        vertical-align:middle;
        float: left;
}

header h1 {
            display: inline-block;
            margin: 0 10px;
            font-size: 2em;
            vertical-align: middle;
}

footer {
background-color: #dfdfdf;
text-align: center;
padding: 10px;
font-size: 0.9em;
color: #555;
}

header button{
float:right;
width: 55px;
height: 50px;
background: transparent;
border: 2px solid #fff;
outline: none;
border-radius: 60px;
cursor: pointer;
font-size: 1.1em;
color: #fff;
font-weight: 500;
margin-left: 50px;
margin-top: -6px;
vertical-align: middle;
transition: .5s;
}

header button:hover{
background: #fff;
color:#3f3f3f
}


